<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BareTree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{93,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,144}}</string>
                <key>sourceSize</key>
                <string>{93,144}</string>
            </dict>
            <key>BlackNinja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{34,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,697},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,637},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>Cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,577},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>CrawlNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,786},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>CrawlNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,844},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>CrawlNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,757},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>CrawlNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,815},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>CrouchNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,795},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>Grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,466},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>Ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,757},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>Hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{390,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,128}}</string>
                <key>sourceSize</key>
                <string>{390,128}</string>
            </dict>
            <key>HorseStatue.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,270},{58,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,116}}</string>
                <key>sourceSize</key>
                <string>{58,116}</string>
            </dict>
            <key>House.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{458,240}}</string>
                <key>sourceSize</key>
                <string>{460,242}</string>
            </dict>
            <key>House2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{209,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,137}}</string>
                <key>sourceSize</key>
                <string>{209,137}</string>
            </dict>
            <key>RobeNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,154},{44,114}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,114}}</string>
                <key>sourceSize</key>
                <string>{46,118}</string>
            </dict>
            <key>RobeNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,330},{51,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,113}}</string>
                <key>sourceSize</key>
                <string>{51,113}</string>
            </dict>
            <key>RobeNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,777},{77,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,109}}</string>
                <key>sourceSize</key>
                <string>{77,109}</string>
            </dict>
            <key>RobeNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,695},{126,112}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{126,112}}</string>
                <key>sourceSize</key>
                <string>{138,112}</string>
            </dict>
            <key>RobeNinja_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,555},{138,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,112}}</string>
                <key>sourceSize</key>
                <string>{138,112}</string>
            </dict>
            <key>RobeNinja_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,383},{170,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,112}}</string>
                <key>sourceSize</key>
                <string>{170,112}</string>
            </dict>
            <key>Rocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,496},{79,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>Rocks2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,244},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>Sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,374},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,259},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>Star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,244},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,244},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>Star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,244},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{6,5}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>Star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,259},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>Stopped With Sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,809},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>TapButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{83,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,46}}</string>
                <key>sourceSize</key>
                <string>{87,48}</string>
            </dict>
            <key>Tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,750},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>Tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,705},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>Tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{190,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,317}}</string>
                <key>sourceSize</key>
                <string>{190,317}</string>
            </dict>
            <key>WalkNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,809},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>WalkNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,87},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>WalkNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,809},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>WalkNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,809},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elements.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:370b1c0d1a70acd7d3b665ba0a8cbcfa$</string>
            <key>textureFileName</key>
            <string>Elements.png</string>
        </dict>
    </dict>
</plist>
