<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BareTree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{186,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,288}}</string>
                <key>sourceSize</key>
                <string>{186,288}</string>
            </dict>
            <key>BlackNinja.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1400},{68,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,130}}</string>
                <key>sourceSize</key>
                <string>{68,130}</string>
            </dict>
            <key>Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1378},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1260},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>Cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1142},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>CrawlNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1470},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>CrawlNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1470},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>CrawlNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,592},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>CrawlNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1488},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>CrouchNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,230},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>Grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,924},{140,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,56}}</string>
                <key>sourceSize</key>
                <string>{140,56}</string>
            </dict>
            <key>Ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1494},{220,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,36}}</string>
                <key>sourceSize</key>
                <string>{220,36}</string>
            </dict>
            <key>Hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{780,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,256}}</string>
                <key>sourceSize</key>
                <string>{780,256}</string>
            </dict>
            <key>HorseStatue.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,648},{116,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,232}}</string>
                <key>sourceSize</key>
                <string>{116,232}</string>
            </dict>
            <key>House.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{916,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{916,480}}</string>
                <key>sourceSize</key>
                <string>{920,484}</string>
            </dict>
            <key>House2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{418,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,274}}</string>
                <key>sourceSize</key>
                <string>{418,274}</string>
            </dict>
            <key>RobeNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,766},{86,228}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{86,228}}</string>
                <key>sourceSize</key>
                <string>{92,236}</string>
            </dict>
            <key>RobeNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{102,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,226}}</string>
                <key>sourceSize</key>
                <string>{102,226}</string>
            </dict>
            <key>RobeNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{154,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,218}}</string>
                <key>sourceSize</key>
                <string>{154,218}</string>
            </dict>
            <key>RobeNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1206},{250,224}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{250,224}}</string>
                <key>sourceSize</key>
                <string>{276,224}</string>
            </dict>
            <key>RobeNinja_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1432},{276,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,224}}</string>
                <key>sourceSize</key>
                <string>{276,224}</string>
            </dict>
            <key>RobeNinja_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,854},{340,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,224}}</string>
                <key>sourceSize</key>
                <string>{340,224}</string>
            </dict>
            <key>Rocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,982},{158,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,138}}</string>
                <key>sourceSize</key>
                <string>{158,138}</string>
            </dict>
            <key>Rocks2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1432},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>Sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,742},{180,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,140}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1186},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>Star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1142},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>Star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,460},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{12,10}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>Star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1166},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>Stopped With Sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,484},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>TapButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,294},{164,92}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{164,92}}</string>
                <key>sourceSize</key>
                <string>{174,96}</string>
            </dict>
            <key>Tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1400},{118,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,86}}</string>
                <key>sourceSize</key>
                <string>{118,86}</string>
            </dict>
            <key>Tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{118,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,86}}</string>
                <key>sourceSize</key>
                <string>{118,86}</string>
            </dict>
            <key>Tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{380,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,634}}</string>
                <key>sourceSize</key>
                <string>{380,634}</string>
            </dict>
            <key>WalkNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,484},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>WalkNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,460},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>WalkNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,484},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>WalkNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,566},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elements-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c63eb7ad711072b9dd09bede0e3f286a$</string>
            <key>textureFileName</key>
            <string>Elements-hd.png</string>
        </dict>
    </dict>
</plist>
