<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BareTree.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,158},{186,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,288}}</string>
                <key>sourceSize</key>
                <string>{186,288}</string>
            </dict>
            <key>BlackNinja.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,448},{68,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,130}}</string>
                <key>sourceSize</key>
                <string>{68,130}</string>
            </dict>
            <key>Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,592},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,260},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>Cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,896},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>CrawlNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,710},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>CrawlNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,710},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>CrawlNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,842},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>CrawlNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,818},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>CrouchNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,950},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>Grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,868},{140,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,56}}</string>
                <key>sourceSize</key>
                <string>{140,56}</string>
            </dict>
            <key>Ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,120},{220,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,36}}</string>
                <key>sourceSize</key>
                <string>{220,36}</string>
            </dict>
            <key>Hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{780,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,256}}</string>
                <key>sourceSize</key>
                <string>{780,256}</string>
            </dict>
            <key>HorseStatue.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{116,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,232}}</string>
                <key>sourceSize</key>
                <string>{116,232}</string>
            </dict>
            <key>House2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,448},{418,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,274}}</string>
                <key>sourceSize</key>
                <string>{418,274}</string>
            </dict>
            <key>Rocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,868},{158,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,138}}</string>
                <key>sourceSize</key>
                <string>{158,138}</string>
            </dict>
            <key>Rocks2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,158},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,248},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>Star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,220},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,220},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>Star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,120},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{12,10}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>Star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,244},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>SwordNinja.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,448},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>Tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,896},{118,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,86}}</string>
                <key>sourceSize</key>
                <string>{118,86}</string>
            </dict>
            <key>Tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{118,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,86}}</string>
                <key>sourceSize</key>
                <string>{118,86}</string>
            </dict>
            <key>Tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{380,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,634}}</string>
                <key>sourceSize</key>
                <string>{380,634}</string>
            </dict>
            <key>WalkNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,448},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>WalkNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,448},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>WalkNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,448},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>WalkNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,710},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elements-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d346ef2a1db7bf6645e0acd6ce5ff5f$</string>
            <key>textureFileName</key>
            <string>Elements-hd.png</string>
        </dict>
    </dict>
</plist>
