<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BareTree.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,82},{93,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,144}}</string>
                <key>sourceSize</key>
                <string>{93,144}</string>
            </dict>
            <key>BlackNinja.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,426},{34,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,299},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,132},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>Cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,451},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>CrawlNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,359},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>CrawlNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,359},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>CrawlNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,228},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>CrawlNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,359},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>CrouchNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,359},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>Grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,439},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>Ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,62},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>Hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,128}}</string>
                <key>sourceSize</key>
                <string>{390,128}</string>
            </dict>
            <key>HorseStatue.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{58,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,116}}</string>
                <key>sourceSize</key>
                <string>{58,116}</string>
            </dict>
            <key>House2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,228},{209,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,137}}</string>
                <key>sourceSize</key>
                <string>{209,137}</string>
            </dict>
            <key>Rocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,439},{79,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>Rocks2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,82},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,153},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>Star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,114},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,129},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>Star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,114},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{6,5}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>Star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,142},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>SwordNinja.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,228},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>Tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,451},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>Tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>Tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{190,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,317}}</string>
                <key>sourceSize</key>
                <string>{190,317}</string>
            </dict>
            <key>WalkNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,228},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>WalkNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,228},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>WalkNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,228},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>WalkNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,359},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elements.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:029b29cac16ed75912a4bfaaec9287ba$</string>
            <key>textureFileName</key>
            <string>Elements.png</string>
        </dict>
    </dict>
</plist>
