<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BareTree.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,278},{186,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,288}}</string>
                <key>sourceSize</key>
                <string>{186,288}</string>
            </dict>
            <key>BlackNinja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{68,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,130}}</string>
                <key>sourceSize</key>
                <string>{68,130}</string>
            </dict>
            <key>Cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,514},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>Cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,396},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>Cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,278},{330,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,116}}</string>
                <key>sourceSize</key>
                <string>{330,116}</string>
            </dict>
            <key>CrawlNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,846},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>CrawlNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>CrawlNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,738},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{106,54}</string>
            </dict>
            <key>CrawlNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,144},{76,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,54}}</string>
                <key>sourceSize</key>
                <string>{76,54}</string>
            </dict>
            <key>CrouchNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,896},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>Grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{140,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,56}}</string>
                <key>sourceSize</key>
                <string>{140,56}</string>
            </dict>
            <key>Ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,568},{220,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,36}}</string>
                <key>sourceSize</key>
                <string>{220,36}</string>
            </dict>
            <key>Hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{780,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,256}}</string>
                <key>sourceSize</key>
                <string>{780,256}</string>
            </dict>
            <key>HorseStatue.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{116,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,232}}</string>
                <key>sourceSize</key>
                <string>{116,232}</string>
            </dict>
            <key>House2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{418,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,274}}</string>
                <key>sourceSize</key>
                <string>{418,274}</string>
            </dict>
            <key>RobeNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,236},{86,228}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{86,228}}</string>
                <key>sourceSize</key>
                <string>{92,236}</string>
            </dict>
            <key>Rocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,606},{158,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,138}}</string>
                <key>sourceSize</key>
                <string>{158,138}</string>
            </dict>
            <key>Rocks2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,236},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,200},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>Star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,236},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,200},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>Star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,264},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{12,10}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>Star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,200},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>SwordNinja.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,766},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>Tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,896},{118,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,86}}</string>
                <key>sourceSize</key>
                <string>{118,86}</string>
            </dict>
            <key>Tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,466},{118,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,86}}</string>
                <key>sourceSize</key>
                <string>{118,86}</string>
            </dict>
            <key>Tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,634}}</string>
                <key>sourceSize</key>
                <string>{380,634}</string>
            </dict>
            <key>WalkNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,766},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>WalkNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,766},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>WalkNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,766},{80,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,132}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>WalkNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,606},{80,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,130}}</string>
                <key>sourceSize</key>
                <string>{80,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Elements-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e706518fcd9d5ee16277646edda98716$</string>
            <key>textureFileName</key>
            <string>Elements-hd.png</string>
        </dict>
    </dict>
</plist>
