<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kick01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,494},{122,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,166}}</string>
                <key>sourceSize</key>
                <string>{122,166}</string>
            </dict>
            <key>Kick02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,504},{130,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,154}}</string>
                <key>sourceSize</key>
                <string>{130,154}</string>
            </dict>
            <key>Kick03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{198,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,118}}</string>
                <key>sourceSize</key>
                <string>{198,118}</string>
            </dict>
            <key>Kick04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{174,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,118}}</string>
                <key>sourceSize</key>
                <string>{174,118}</string>
            </dict>
            <key>Kick05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,338},{130,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,154}}</string>
                <key>sourceSize</key>
                <string>{130,154}</string>
            </dict>
            <key>Kick06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{126,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{130,158}</string>
            </dict>
            <key>Kick07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,494},{122,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,166}}</string>
                <key>sourceSize</key>
                <string>{122,166}</string>
            </dict>
            <key>Robe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{128,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,20}}</string>
                <key>sourceSize</key>
                <string>{128,20}</string>
            </dict>
            <key>RobeNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,338},{66,170}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,170}}</string>
                <key>sourceSize</key>
                <string>{68,174}</string>
            </dict>
            <key>RobeNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,334},{76,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,168}}</string>
                <key>sourceSize</key>
                <string>{76,168}</string>
            </dict>
            <key>RobeNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,170},{114,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,162}}</string>
                <key>sourceSize</key>
                <string>{114,162}</string>
            </dict>
            <key>RobeNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,170},{186,166}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{186,166}}</string>
                <key>sourceSize</key>
                <string>{260,166}</string>
            </dict>
            <key>RobeNinja_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{206,166}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,166}}</string>
                <key>sourceSize</key>
                <string>{290,166}</string>
            </dict>
            <key>RobeNinja_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,166}}</string>
                <key>offset</key>
                <string>{-64,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{252,166}}</string>
                <key>sourceSize</key>
                <string>{400,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ninja-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ff9ebe6d9ddd774bb7eb6e77554e030$</string>
            <key>textureFileName</key>
            <string>Ninja-hd.png</string>
        </dict>
    </dict>
</plist>
