<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kick01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,256},{61,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,83}}</string>
                <key>sourceSize</key>
                <string>{61,83}</string>
            </dict>
            <key>Kick02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{65,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>Kick03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{99,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,59}}</string>
                <key>sourceSize</key>
                <string>{99,59}</string>
            </dict>
            <key>Kick04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>Kick05.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,172},{65,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>Kick06.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,263},{63,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>Kick07.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,256},{61,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,83}}</string>
                <key>sourceSize</key>
                <string>{61,83}</string>
            </dict>
            <key>Robe.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,251},{64,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,10}}</string>
                <key>sourceSize</key>
                <string>{64,10}</string>
            </dict>
            <key>RobeNinja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,172},{32,85}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,85}}</string>
                <key>sourceSize</key>
                <string>{34,87}</string>
            </dict>
            <key>RobeNinja_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,170},{38,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{38,84}</string>
            </dict>
            <key>RobeNinja_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,87},{57,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>RobeNinja_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,87},{92,83}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{130,83}</string>
            </dict>
            <key>RobeNinja_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{103,83}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,83}}</string>
                <key>sourceSize</key>
                <string>{145,83}</string>
            </dict>
            <key>RobeNinja_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,83}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{126,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ninja.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:159fc561954c848010ab036f3202baa8$</string>
            <key>textureFileName</key>
            <string>Ninja.png</string>
        </dict>
    </dict>
</plist>
